.h10{height: 10px;}
.h70{height: 70px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h110{height: 110px;}
.h100{height: 100px;}
.h150{height: 150px;}
.h250{height: 250px;}
.h300{height: 300px;}
.h400{height: 400px;}
.h500{height: 500px;}
.h600{height: 600px;}
.h700{height: 700px;}
.h800{height: 800px;}
.h350{height: 350px;}
.h1000{height: 1000px;}

.mt200{margin-top: 200px;}

.w5{width: 5%;}
.w10{width: 10%;}
.w15{width: 15%}
.w17{width: 17%;}
.w18{width: 18%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w33{width: 33%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w96{width: 96%;}
.w100{width: 100%;}


.pdl630{padding-left: 630px;}

a{
    margin-inline: 10px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #333333;
}

.navbarclr{
    background-color: #141414;
}

.home{
    position: sticky;
    top: 0;
}

.div1{
    color: white;
    margin-top: 100px;
}

.btn-1{
    height: 50px;
    width: 150px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: none;
}

.btn-1:hover{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
}

.btn-2{
    height: 50px;
    width: 150px;
    color: white;
    background-color: #2c96bd;
    font-size: 15px;
    border: 1px solid white;
}

.btn-2:hover{
    height: 50px;
    width: 150px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid white;
}

.trs{
    background-color: rgba(0, 0, 0, 0.416);
}

.bg-black{
    background-image: linear-gradient(transparent,rgba(255, 254, 254, 0.921));

    /* background-image: linear-gradient(to right top,red ,black,green,orange); */

    /* background-image: conic-gradient(from 180deg,red,purple,lightgreen,orange,yellow,red); */

    /* background-image: radial-gradient(white,black 50%,transparent 50%); */

    /* background-image: repeating-linear-gradient(black,transparent 10%); */

    /* background-image: repeating-radial-gradient(transparent,black 1%); */

}

.ml100{margin-left: 100px;}

.clrw{
    color: white;
}

.ml100{margin-left: 100px;}


.fns10{font-size: 10px;}
.fns15{font-size: 15px;}
.fns20{font-size: 20px;}
.fns25{font-size: 25px;}
.fns30{font-size: 30px;}

.pdt200{padding-top: 200px;}
.pdt300{padding-top: 300px;}

.sub{
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #2c6dbd;
}

.sub:hover{
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #af2a35;
    color: white;
    border: none;
}

.ml700{margin-left: 700px;}

.buclr{
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 20px;
    float: left;
    border: none;
}
.buclr:hover{
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
}

.buclrb{
    background-color: blue;
}


.buclrg{
    background-color: green;
    margin-left: 5px;
}


.buclrr{
    background-color: red;
    margin-left: 5px;
}

.buclrd{
    background-color: rgb(237, 137, 71);
    margin-left: 5px;
}

.buclrblc{
    background-color: black;
}

.buclraq{
    background-color: aqua;
}

.buclrpi{
    background-color: rgb(204, 70, 161);
    margin-left: 5px;
}

.buclro{
    background-color: orange;
    margin-left: 5px;
}

.bg-2{
    background-position: center;
    transition: 0.3s ease-in-out;
}

.bg-2:hover{
    transform: scale(1.5);
}

.bg-1{
    background-position: center;
    transition: 0.3s ease-in-out;
}

.bg-1:hover{
    transform: scale(1);
}

